header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 70px;
    border-bottom: 1px solid #38AF68 ;
    max-width: 1700px;
    margin:0 auto;
}
header .logo {}
header .logo a {}
header .logo a img {}
header .logo a img {}
header .menu {
    
}
header .menu .right_menu {
    display: flex;
    gap:21px;
}
header .menu .right_menu li {
    font-size: 1.25rem;
}
header .menu .right_menu a {}
header .menu .right_menu a img {}
main .top_wrap {
    max-width:1294px;
    margin:0 auto;
}
main .top_wrap h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom:90px;
    margin-top:107px;
}
main .top_wrap .post_info {
    margin-bottom:39px;
    
}
main .top_wrap .post_info .meta-info {
    display: flex;
    align-items: center;
    gap:18px;
}
main .top_wrap .post_info .meta-info img {}
main .top_wrap .post_info .meta-info span {}
main .top_wrap .post_info button {
    color:#007119;
    border:#007119 solid 1px;
    border-radius:30px ;
    padding:4px 15px;
}
main .top_wrap .post_info button:hover {
    color:#fff;
    background-color:#A9D4B9 ;
    border-color:#92BBA1;
}
main .container {
    max-width:1400px;
    margin:0 auto;
    display: flex ;
    flex-wrap:wrap;
    gap:13px;
    box-sizing: border-box;
    width:100%;
}

.card2, .card3{
    width:calc(50% - 10px);
}
.card_2 img {
    margin-bottom:20px;
}
main .container .card {
    padding-bottom:130px ;
}
main .container .card img {}
main .container .card .news_txt {
    display: grid;
    gap:21px;
}
main .container .card .images_box {
    /* display: flex;
    gap:20px; */
    margin-bottom: 20px;
}
main .container .card .images_box img {
    margin-bottom: 20px;
}
main .container .card .news_txt h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
main .container .card .news_txt p {
    line-height:1.5;
    font-size: 1rem;
}
main .container .card .news_txt p {}
.footer_wrap {
    border-top:#38AF68 solid 1px;
    max-width:1294px;
    margin:0 auto;
    padding: 30px 30px;
}
.footer_wrap  img {}
.footer_wrap  p {
    color:#4C4C4C;
}